
.mainHeader {
    display: flex;
    width: 100%;
    /* background-color: red; */
    justify-content: center;
}

.menu {
    
    /* background-color: aqua; */
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.imgHeader {
    width: 15%;
}

.aHeader{
    color: var(--color-text-nav);
    text-decoration: none;
}

.ulHeader {
    display: flex;
    font-family: var(--font-roleway);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 32px;
}

.aHeader:hover{
    color: var(--color-hover);
}